<%- include('../include/head.ejs') %>
<link rel="stylesheet" href='/css/editp.css'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<%- include('../include/middle.ejs') %>
<% if(message){ %>
    <h1 style="text-align: center;">
        <%= message %>
    </h1>
<% } %>
    <div class='form-style-5'>


        <form action="  <%  if(editing){  %>/editpage
                         <%  }else{        %>/addp
                         <%  }             %>" method="POST" enctype="multipart/form-data">
 
            <fieldset>
                <legend><span class="number">1</span>Title</legend>
                <input type="text" name="title" value=' <%  if(editing){  %><%=product.title%>
                    <%  }             %>'>
      
            </fieldset>
        

            <fieldset>
                <legend><span class="number">2</span>Image</legend>
                <span class="btn btn-primary btn-file"  >
                    <div class='w3-btn w3-brown'>
                        Browse...
                    </div>
                    <input type="file" name="image" class='w3-btn w3-brown'
                                        value=' <%  if(editing){  %>
                                                    <%=product.path%>
                                                 <%  }  %>'> 
                </span>
            </fieldset>

            
            <%  if(editing){  %>
                <input type='hidden' value='<%=product.path%>' name='path'>
            <% } %>


            <fieldset>
                <legend><span class="number">3</span>Price</legend>
                <input type="number" name="price" step='.01'  required
                        value=<%  if(editing){ %><%=product.price%>
                            <%  }             %>>
            </fieldset>

            

            <fieldset>
                <legend><span class="number">4</span>Description</legend>
                <textarea name="description"
                            rows='5'>
                            <%  if(editing){  %><%=product.description%>
                                <%  } %>
                </textarea>
            </fieldset>

            

            <button type="submit">
                <%    if (editing){   %>updateproduct
                <%    }else{          %>Addproduct
                <%    }               %>
            </button>

            <div>
                <%  if(editing){  %>
                    <input type='hidden' name='idd' value='<%=product._id%>'>
                <%  }             %>
            </div>
        </form>
    </div>
</body>
</html>
