<%- include('../include/head.ejs') %>
<link rel="stylesheet" href='/css/product.css'>
</head>
<%- include('../include/middle.ejs') %>
    <%if( prods.length > 0){%>
        <h1 style="text-align:center">Products you added</h1>
        <% for(let pr of prods){%>
            <div class='card'>
                <img src='<%=pr.path %>' alt="no-image" width=300px height=300px >
                <h1><%=pr.title%></h1>
                <p class="price">INR. <%=pr.price%></p>
                <p><%=pr.description%></p>

                <p>
                    <a class='detail' href='/edit/<%=pr._id%>?edit=true' class='edit'>Edit</a>
                    <form method='POST' action='/delete'>
                        <button type='submit'>delete</button> 
                        <input type='hidden' name='idd' value='<%=pr._id%>'>
                        <input type='hidden' name='prr' value='<%=pr.price%>'>
                    </form>
                </p>
            </div>
        <%}%>
                   
    <%}else{%>
        <h1 style="text-align:center"> No products</h1>
    <%}%>
</body>
</html>