<%- include('../include/head.ejs') %>
<link rel="stylesheet" href='/css/product.css'>
</head>

<%- include('../include/middle.ejs') %>

    <%if( prods.length > 0){%>
        <h1 style="text-align:center">Start adding your products into the cart</h1>

        <% for(let pr of prods){%>
                <div class='card'>
                    <img src='<%=pr.path %>' alt="no-image" width=300px height=300px >
                    <h1><%=pr.title%></h1>
                    <p class="price">INR. <%=pr.price%></p>
                    <p><%=pr.description%></p>
                    <p>
                        <form method='POST' action='/addtocart'>
                            <button type='submit'>add to cart</button> 
                            <input type='hidden' name='detailid' value='<%= pr._id%>'>
                        </form>
                    </p>
                </div>
            <%}%>
                   
    <%}else{%>
        <h1 style="text-align:center"> No products</h1>
    <%}%>
</body>
</html>