<%- include('../include/head.ejs') %>
<link rel="stylesheet" href='/css/product.css'>
<link rel="stylesheet" href='/css/style.css'>

</head>

<%- include('../include/middle.ejs') %>
<% if(orders.length >0 ) { %>
    <h1>Customer name : <%=  name %></h1>
    <div class='orders2'>
        <% for(let pr of orders){ %>
                <div>
                    <h2 style="text-align:initial;">order no.#  <%= pr._id%></h2>
                    <% for(let item of pr.items){ %>
                        <div class ='card'>
                            <img src='<%=item.productId.path%>' alt="no-image" width=300px height=300px >
                            <h1>Item:<%=item.productId.title%></h1>
                            <p class="price">Price : INR. <%=item.productId.price%></p>
                            <p class="price">Quantity:<%=item.qty%></p> 
                        </div>
                    <% } %>
                </div>
    
                <br>
        <% } %>
    </div>


<% }else{ %>
    <h1 style="text-align:center"> No orders yet</h1>
<% } %>
</body>
</html> 